<fieldset id="new_assignment">
	<legend><%= @title_text %></legend>
	
	<form action="/assignments" method="post">
		<div class="input_rows"> 
			<div class="labels"> Choose a vendor: </div> 
				<div class="inputs"> 
					<select name="partner_id">
						<% unless @partners.length == 0%>
							<% @partners.each do |i| %>
								<option value="<%= i.id%>"><%= i.name %></option>
							<% end %>		
						<% end %>
					</select>					
				</div>
			</div>
		<input type="hidden" name="job_id" value="<%= @job.id %>" />	
		<input type="hidden" name="parent_id" value="<%= @parent_id %>" />
		<input type="hidden" name="partner_type" value="<%= @partner_type %>" />	
		<div class="input_rows"><input type="submit" value="Assign"/></div>
		
		
	</form>	
</fieldset>