<div id="pagedescription" class="grid_12">
	<h2><%= @title_text %></h2>
</div>
	
<div id="contentmiddle" class="grid_12">
	<form action="/assignments" method="post" id="assignment_form">
		<div class="input_rows"> 
			<h5> Choose a vendor: </h5> 
			<div class="inputs"> 
				<select name="partner_id">
					<% unless @partners.length == 0 %>
						<% @partners.each do |i| %>
							<option value="<%= i.id%>"><%= i.name %></option>
						<% end %>		
					<% end %>
				</select>					
			</div>
			<div class="labels"> Or <%= link_to "create a new vendor:", {:controller => "controls", :action => "show_fields"}, :remote => true %> </div>
		</div>
		<input type="hidden" class="hiddens" name="super_parent_id" value="<%= @super_parent_id %>" />
		<input type="hidden" class="hiddens" name="job_id" value="<%= @job.id %>" />	
		<input type="hidden" class="hiddens" name="parent_id" value="<%= @parent_id %>" />
		<input type="hidden" class="hiddens" name="partner_type" value="<%= @partner_type %>" />	
		<div class="input_rows"><input type="submit" value="Assign"/></div>
	</form>
</div>

<% $active_page = "assignment.new"%>
