<h2>Vendors:</h2>

<div class="new_data_forms">
	
	<h3>Add a new Vendor</h3>
	
	<%= form_tag({:controller => "subcontractors", :action => "create"}, :method =>"post") do %>
	<div class = "input_items"><div class="input_headers">Name: </div>  <%= text_field_tag(:name) %> </div>
	<div class = "input_items"><div class="input_headers">Category: </div> 
		<select name=":category">
			<option>Concrete</option>
			<option>Pavement</option>
			<option>Logging</option>
			<option>Trucking</option>			
		</select>
	</div>
	<div class = "input_items"><div class="input_headers">Type: </div> 
		<select name=":type">
			<option>Subcontractor </option>
			<option>Supplier</option>
			<option>Both</option>
		</select>
	 </div>
	 <div class = "input_items"><div class="input_headers">Description: </div>  <%= text_area_tag(:description, nil, :rows => 2, :cols => 23) %> </div>
<% end %> <br />

<h3>Contact Person information:</h3>

<%= form_tag({:controller => "subcontractors", :action => "create"}, :method =>"post") do %>
	<div class = "input_items"><div class="input_headers">Name: </div>  <%= text_field_tag(:name) %> </div>
	<div class = "input_items"><div class="input_headers">Title: </div>  <%= text_field_tag(:title) %> </div>
	<div class = "input_items"><div class="input_headers">Phone number: </div>  <%= text_field_tag(:phone_number) %> </div>
	<div class = "input_items"><div class="input_headers">Email: </div>  <%= text_field_tag(:email) %> </div>		
<% end %> <br />

<h3>Address:</h3>

<%= form_tag({:controller => "subcontractors", :action => "create"}, :method =>"post") do %>
	<div class = "input_items"><div class="input_headers">Street: </div>  <%= text_field_tag(:street) %> </div>
	<div class = "input_items"><div class="input_headers">City: </div>  <%= text_field_tag(:city) %> </div>
	<div class = "input_items"><div class="input_headers">ZIP-code: </div>  <%= text_field_tag(:zip) %> </div>
	<div class = "input_items"><div class="input_headers">State: </div>  <%= text_field_tag(:state) %> </div>
	<div class = "input_items"><div class="input_headers">Submit </div>  <%= submit_tag("Create New Vendor") %> </div>	
<% end %>

</div>

<h3>Subcontractors:</h3>

<ul>
	<% @subcontractors.each do |i| %>
		<li><%= i.name %></li>
	<% end %>	
</ul>

<h3>Suppliers:</h3>

<ul>
	<% @suppliers.each do |i| %>
		<li><%= i.name %></li>
	<% end %>	
</ul>
