<fieldset id="job_details_box">
	<legend>Job details</legend>
	
	<div class="job_detail_list_item"><%= "Job number: #{@job.job_number}" %></div>
	<div class="job_detail_list_item"><%= "Job name: #{@job.name}" %></div>
</fieldset>

<fieldset id="vendor_details_box">
	<legend>Vendor details</legend>
	
	<div class="job_detail_list_item"><%= "Contact name: #{@contact_person.name}" %></div>
	<div class="job_detail_list_item"><%= "Phone: #{@job.name}" %></div>
	<div class="job_detail_list_item"><%= "E-mail: #{@job.name}" %></div>
	
</fieldset>


<fieldset id="subs_details" class="">
  <legend>legend</legend>
  
  
</fieldset>


<h2>Job: <%= @job.job_number %> - Subcontractor: <%= @subcontractor.name %> </h2>

<h3>Suppliers:</h3>

<ul>
	<% @suppliers.each do |i|  %>
		<li><%= link_to i.name, supplier_path(i.id, @job.job_number) %></li>
	<% end %>
</ul>

<h3>Subcontractors:</h3>

<ul>
	<% @subcontractors.each do |i|  %>
		<li><%= link_to i.name, subcontractor_path(i.id, @job.job_number) %></li>
	<% end %>
</ul>

<% #Page's method calls and global variable modifiers %>

<% $active_page = "subcontractor.show" %>