<% unless k.checklist_items(job_id, parent_id).first.nil? then k.checklist_items(job_id, parent_id).each do |l|%>
	<div class="list_items" id="<%= "#{l.id}cli" %>"> 
		<%= image_tag get_image(l.state) %>
		<% if l.state < 3 %>
			<input id="<%="#{l.id}input"%>" type="checkbox" onclick="$.ajax('/mark_done/<%= l.id %>')" />
		<% end %>
		<%= l.item_data %>
		<% if l.state < 3 %>
			<span>
				<a style="display: none;"  href=<%= "/undo/1?item_id=#{l.id}&state=#{l.state}" %> data-remote="true">undo</a>
			</span>
		<% end %>
	</div> 
	<% end %>
<% end %>