<div class="grid_12" id="pagedescription">
	<h2>Edit Job Information</h2>
</div>
	
<div id="contentmiddle" class="grid_12">
	
	<form action="/jobs/<%= @job.id%>" method="post" data-remote="true">
		<div class="input_rows"> 
			<div class="labels"> Name </div> 
			<div class="inputs"> <%= text_field_tag("name", @job.name) %> </div>
		</div>
		<div class="input_rows"> <div class="labels"> Job number </div> <div class="inputs"> <%= text_field_tag("job_number", @job.job_number) %></div>
		</div>
		<div class="input_rows"> 
			<div class="labels">Job type</div> 
			<div class="inputs"> 
				<select name="job_type">
					<option value="Public" <%= if @tags.include? ("Public") then "selected" end %> >Public</option>
					<option value="Private" <%= if @tags.include? ("Private") then "selected" end %>>Private</option>
				</select>			
			</div>
		</div>
		<div class="input_rows"> 
			<div class="labels">Prime or Sub</div> 
			<div class="inputs"> 
				<select name="TU_role">
					<option value="Primary" <%= if @tags.include? ("Primary") then "selected" end %> >Primary</option>
					<option value="Subcontractor" <%= if @tags.include? ("Subcontractor") then "selected" end %>>Subcontractor</option>
				</select>			
			</div>
		</div>

		<div class="input_rows"> <div class="labels"> Location </div> <div class="inputs"> <%= text_field_tag("location", @job.location) %> </div> </div>
		<div class="input_rows"> <div class="labels"> Value </div> <div class="inputs"> <%= text_field_tag("value", @job.value) %> </div> </div>
		<div class="input_rows"> 
			<div class="labels"> Project manager </div> <div class="inputs"> 				
				<select name="PM_id">
					<% @pms.each do |i| %>
						<option value="<%= i.id %>" <%= if i.id == @job.project_manager_id then "selected" end %>><%= i.name %></option>
					<% end %>
				</select>
			</div> 
		</div>
		<input type="hidden" name="_method" value="put" />
		<div class="input_rows"><input type="submit" value="Update"/></div>
	</form>

</div>

<% #Method calls and global variable modifiers of the page %>

<% $active_page = "job.new"%>