<fieldset id="basic_info">
	<legend>Job information</legend>
	
	<form action="/jobs" method="post">
		<div class="input_rows"> <div class="labels"> Name </div> <div class="inputs"> <%= text_field_tag("name") %> </div></div><div class="required_marker">*</div>
		<div class="input_rows"> <div class="labels"> Job number </div> <div class="inputs"> <%= text_field_tag("job_number") %></div></div><div class="required_marker">*</div>
		<div class="input_rows"> <div class="labels"> Location </div> <div class="inputs"> <%= text_field_tag("location") %> </div> </div>
		<div class="input_rows"> <div class="labels"> Value </div> <div class="inputs"> <%= text_field_tag("value") %> </div> </div>
		<div class="input_rows"> <div class="labels"> Project manager </div> <div class="inputs"> <%= text_field_tag("project_manager") %> </div> </div>
		<div class="input_rows"><input type="submit" value="Assign"/></div>
	</form>

</fieldset>

<% #Method calls and global variable modifiers of the page %>

<% $active_page = "job.new"%>