<fieldset id="basic_info">
	<legend>Job information</legend>
	
	<form action="/jobs" method="post">
		<div class="input_rows"> <div class="labels"> Name </div> <div class="inputs"> <%= text_field_tag("name") %> </div> </div>
		<div class="input_rows"> <div class="labels"> Job number </div> <div class="inputs"> <%= text_field_tag("job_number") %> </div> </div>
		<div class="input_rows"> <div class="labels"> Location </div> <div class="inputs"> <%= text_field_tag("location") %> </div> </div>
		<div class="input_rows"> <div class="labels"> Value </div> <div class="inputs"> <%= text_field_tag("value") %> </div> </div>
		<div class="input_rows"> <div class="labels"> Project manager </div> <div class="inputs"> <%= text_field_tag("project_manager") %> </div> </div>
		<div class="input_rows"><input type="submit" value="Assign"/></div>
	</form %>

</fieldset>

<!--<fieldset id="subcontractor_info">
	<legend>Subcontractors</legend>

	<div id="subs_selector">
		<form action="/jobs" method="post">
			<select name"subs" multiple="true">
				<% @subcontractors.each do |i|%>
					<option onclick=""><%= i.name %></option>
				<% end %>
			</select> <br />		
			
		<input type="submit" value="Assign" style="width:186px;"/>
	</div>
	
	<div id="suppliers_seelector">
		</form>
			<form action="/jobs" method="post">
			<select name"sups" multiple="true">
				<% @suppliers.each do |i|%>
					<option onclick=""><%= i.name %></option>
				<% end %>
			</select> <br />		
				
			<input type="submit" value="Assign" style="width:186px;"/>
		</form>
	</div>
	
	<div id="checklist_items_selector">
		<form action="/jobs" method="post">
			<select name"checklist" multiple="true">
				<% @checklist_items.each do |i|%>
					<option onclick=""><%= i.item_data %></option>
				<% end %>
			</select> <br />		
				
			<input type="submit" value="Assign" style="width:186px;"/>
		</form>
	</div>

</fieldset>
-->


<% #Method calls and global variable modifiers of the page %>

<% $active_page = "job.new"%>