	<div class="grid_12" id="pagedescription">
		<h2><%= "#{@job.job_number} - #{@job.name}" %></h2>			
	</div>
	
	
<div id="contentmiddle" class="grid_9">
	
	<div id="contentcontrol">
		<div class="grid_2"><h4>Subcontractors</h4></div>
		<div class="controlbuttons">
		<ul>
			<li class="controls" id="receive_payments">
				<%= link_to "Owner payment received", {:controller => "controls", :action => "touch_all", :id => @job.id}, :remote => true %>
			</li>
			<li class="controls" id="assign_sub">
				<%= link_to "Assign a sub", {:controller => "assignments", :action => "new", :job_id => @job.id, :parent_id => 0, :partner_type => 1, :super_parent_id => 0}%>
			</li>
			<li class="controls" id="edit_job">
				<%= link_to "Edit the job", {:controller => "jobs", :action => "edit", :job_id => @job.id}%>
			</li>
		</ul>
		</div>
	</div>
	
	<% unless @job.subcontractors.first.nil? %>
		<% @job.subcontractors.each do |j| %>
			<div class="grid_8" id="subactivation">
				<ul>
					<li><h5><%= link_to j.name, {:controller => "subcontractors", :action => "show", :job_id => @job.id, :parent_id => 0, :id => j.id} %></h5></li>
					<li><span>Inactive</span></li>
					<li><span>Reg</span></li>
					<li><span>Final</span></li>
				</ul>
			</div>
			<div class="grid_8">
			<%= render :partial => "index/sub_details", :locals => {:j => j, :job_id => @job.id, :parent_id => 0, :show_subname => 0} %>
			</div>
		<% end %>
	<% end %>
	
</div>

<div id="sidebar" class="grid_3">
	<h2>Job Details</h2>
	
	<div class="detail_row"><%= "Value: $#{@job.value}"  %></div>
	<div class="detail_row"><%= "Location: #{@job.location}"  %></div>
	<div id="documents_section">
		<div id="section_header">Documents:</div>
		<% unless @job.documents.length == 0 %>
			<% @job.documents.each do |i| %>
				<div class="document_links"><%= link_to i.name, i.document.url %></div>
			<% end %>
		<% end %>
		<div id="add_doc_link"><%= link_to "Add a document", {:controller => "documents", :action => "new", :owner_type => "job", :id => @job.id} %></div>		
	</div>
</div>


<div class="grid_12" id="contentbottom">
	<div id="recent_history">
	<legend>Job history - <%= link_to "See full history", {:action => "show", :controller => "histories", :job_id => @job.id, :partner_type => 0}%></legend>	

	<ul>
		<% @log.each do |i| %>
			<li><%= i.target_type %> <%= i.target_name %> <span><%= i.action %> on</span> <%= i.date %> <span>at</span> <%= i.time %> <span>by Main User</span></li>
		<% end %>
	</ul>
	
	</div>
</div>


<% recents_add(@job.id) %>
<% $active_page = "job.show"%>



