	<div class="grid_12" id="pagedescription">
		<h2><%= "#{@job.job_number} - #{@job.name}" %></h2>			
	</div>
<div class="grid_1" id="paytab">
	<h6>Pay Period</h6>
	<ul id="payment_tab_ul">
		<li id="new_payment_tab" onclick="add_payment();"><img src="/images/plus.png" height="13" width="13"></li>
		<% @job.payments.reverse.each do |i| %>
			<li id="<%= i.id %>tab" onclick="change_content(<%= i.id %>);"><%= i.number %></li>
		<% end %>
	</ul>
</div>
	
<div id="contentmiddle" class="grid_8">
	
</div>

<div id="sidebar" class="grid_3">
	<h2>Job Details <span><%= link_to "Edit", {:controller => "jobs", :action => "edit", :job_id => @job.id}%></span></h2>
	
	<div class="detail_row"><%= "Value: $#{@job.value}"  %></div>
	<div class="detail_row"><%= "Location: #{@job.location}"  %></div>
	<div class="detail_row"><%= "Project Manager: #{@job.project_manager.name}"  %></div>
	<div class="detail_row"><%= "Project Engineer: #{@job.project_engineer.name}"  %></div>
	
	<div id="documents_section">
		<h2>Job Docs:</h2>
		<% unless @job.documents.length == 0 %>
			<% @job.documents.each do |i| %>
				<div class="document_links" id="<%= i.id %>doclink"><img src="/images/pdf.png" />  <%= link_to i.name, i.document.url %> <span id="delete_document_link"><%= link_to "delete", {:controller => "documents", :action => "delete", :id => i.id}, :remote => true %></span></div>
			<% end %>
		<% end %>
		<div id="add_doc_link"><img src="/images/plus.png" height="16px" width="16px"/>  <%= link_to "Add a document", {:controller => "documents", :action => "new", :owner_type => "job", :id => @job.id} %></div>		
	</div>
</div>

<div class="grid_12" id="contentbottom">
	<div id="recent_history">
	<legend>Job history - <%= link_to "See full history", {:action => "show", :controller => "histories", :job_id => @job.id, :partner_type => 0}%></legend>	

	<ul>
		<% @log.each do |i| %>
			<li><%= i.target_type %> <%= i.target_name %> <span><%= i.action %> on</span> <%= i.date %> <span>at</span> <%= i.time %> <span>by Main User</span></li>
		<% end %>
	</ul>
	</div>
</div>

<script>
	function change_content(id) {
		$.ajax({
			url: '/get_job_details/<%= @job.id %>?payment_id='+id,
			cache: false,
			success: function(html) {
				$('#payment_tab_ul').contents().each(function() { $(this).removeAttr('class'); });
				$('#'+id+'tab').attr('class', 'active');
				$('#contentmiddle').html(html);
			}
		});
	}
	
	function add_payment() {
		$.ajax({
			url: '/new_payment/<%= @job.id %>',
			cache: false,
			success: function(id) {
				var number = parseInt($('#payment_tab_ul li').first().next().html());
				$('#new_payment_tab').after('<li id="'+id+'tab" onclick="change_content('+id+');">'+(number+1)+'</li>');
				change_content(id);
			}
		});
	} 
	
	change_content(<%= Payment.find_all_by_job_id(@job.id).last.id %>)
	
</script>

<% $active_page = "job.show"%>



