<fieldset id="job_details_box">
	<legend>Job Details</legend>
	
	<div class="detail_row"><%= "Value: $#{@job.value}"  %></div>
	<div class="detail_row"><%= "Location: #{@job.location}"  %></div>
</fieldset>

<fieldset id="job_sub_and_item_details">
	<legend><%= "#{@job.job_number} - #{@job.name}" %></legend>
	
	<h3 class="headers">Subcontractors</h3>
	
	<div id="receive_payments">
		<%= link_to "Payment received", {:controller => "touch", :action => "touch_all", :id => @job.job_number}, :remote => true %>
	</div>
	
	<% @subcontractors.each do |i| %>
		<div class="subs_names">
			<%= link_to i.name, subcontractor_path(i.id, @job.job_number) %>
			
			<div class="subs_details">
				<div class="sub_headers">Checlist</div>
				
				<% get_items(i.id, @job.job_number).each do |t| %>
					<div class="subs_items"><%= image_tag get_image(t.state) %><%= t.item_data %></div>
				<% end %>
				
				<div class="sub_headers">Subtier Subcontractors</div>
				
				<% get_subs(@job.job_number, i.id).each do |t| %>
					<div class="sub_subs_names"><%= image_tag get_image_by_job_and_sub(@job.job_number, i.id ) %><%= t.name %></div>
				<% end %>
				
				<div class="sub_headers">Suppliers</div>
				
				<% get_sups(@job.job_number, i.id).each do |t| %>
					<div class="sups_names"><%= image_tag get_image_by_job_and_sup(@job.job_number, t.id) %><%= t.name %></div>
				<% end %>
			</div>
		</div>
	<% end %>
</fieldset>

<fieldset id="job_history_box">
	<legend>Job history - <%= link_to "See full history", {:action => "history", :controller => "jobs"}%></legend>	
	
	<% @log.each do |i| %>
		<div class="history_loggin"><%= i %></div>
	<% end %>
</fieldset>





