<fieldset id="job_details_box">
	<legend>Job Details</legend>
	
	<div class="detail_row"><%= "Value: $#{@job.value}"  %></div>
	<div class="detail_row"><%= "Location: #{@job.location}"  %></div>
	<div id="documents_section">
		<div id="section_header">Documents:</div>
		<% unless @job.documents.length == 0 %>
			<% @job.documents.each do |i| %>
				<div class="document_links"><%= link_to i.name, i.document.url %></div>
			<% end %>
		<% end %>
		<div id="add_doc_link"><%= link_to "Add a document", {:controller => "documents", :action => "new", :owner_type => "job", :owner_id => @job.id} %></div>		
	</div>
</fieldset>

<fieldset id="job_sub_and_item_details">
	<legend><%= "#{@job.job_number} - #{@job.name}" %></legend>
	
	<div class="controls" id="receive_payments">
		<%= link_to "Owner payment received", {:controller => "controls", :action => "touch_all", :id => @job.id}, :remote => true %>
	</div>
	
	<div class="controls" id="assign_sub">
		<%= link_to "Assign a sub", {:controller => "assignments", :action => "new", :job_id => @job.id, :parent_id => 0, :partner_type => 1, :super_parent_id => 0}%>
	</div>
	
	<div id="feedback"></div>
	
	<% unless @job.subcontractors.first.nil? %>
		<% @job.subcontractors.each do |j| %>
			<%= render :partial => "index/sub_details", :locals => {:j => j, :job_id => @job.id, :parent_id => 0, :show_subname => 1} %>
		<% end %>
	<% end %>
	
</fieldset>

<fieldset id="job_history_box">
	<legend>Job history - <%= link_to "See full history", {:action => "show", :controller => "histories", :job_id => @job.id, :partner_type => 0}%></legend>	
	
	<% @log.each do |i| %>
		<div class="history_logging"><%= i.log_data %></div>
	<% end %>
</fieldset>

<% recents_add(@job.id) %>
<% $active_page = "job.show"%>



