<fieldset id="job_details_box">
	<legend>Job Details</legend>
	
	<div class="detail_row"><%= "Value: $#{@job.value}"  %></div>
	<div class="detail_row"><%= "Location: #{@job.location}"  %></div>
</fieldset>

<fieldset id="job_sub_and_item_details">
	<legend><%= "#{@job.job_number} - #{@job.name}" %></legend>
	
	<div class="controls" id="receive_payments">
		<%= link_to "Owner payment received", {:controller => "controls", :action => "touch_all", :job_number => @job.job_number}, :remote => true %>
	</div>
	
	<div class="controls" id="assign_sub">
		<%= link_to "Assign a sub", {:controller => "subcontractors", :action => "new", :id => @job.job_number}%>
	</div>
	
	<% if @job.subcontractors.length != 0 %>
		<div class="headers">Subcontractors</div>
		<% @job.subcontractors.each do |i| %>
			<div class="list_items"> <%= image_tag get_image(i.state)%> <%= link_to i.name, {:controller => "subcontractors", :action => "show", :id => i.id, :job_number => @job.job_number} %></div>
		<% end %>
	<% end %>	

	
</fieldset>

<fieldset id="job_history_box">
	<legend>Job history - <%= link_to "See full history", {:action => "history", :controller => "jobs"}%></legend>	
	
	<!--
	<% @log.each do |i| %>
		<div class="history_logging"><%= i %></div>
	<% end %>
	-->
</fieldset>

<% #Method calls and global variable modifiers of the page %>

<% $active_page = "job.show"%>



