<div id="job_sub_and_item_details" class="grid_8">
	<legend><%= "#{@job.job_number} - #{@job.name}" %></legend>
	
	<div class="controls" id="receive_payments">
		<%= link_to "Owner payment received", {:controller => "controls", :action => "touch_all", :job_number => @job.job_number}, :remote => true %>
	</div>
	
	<div class="controls" id="assign_sub">
		<%= link_to "Assign a sub", {:controller => "subcontractors", :action => "new", :id => @job.job_number}%>
	</div>
	
	<% unless @job.subcontractors.first.nil? %>
		<% @job.subcontractors.each do |j| %>
			<%= render :partial => "index/sub_details", :locals => {:j => j, :job_id => @job.id, :parent_id => 0, :show_subname => 1} %>
		<% end %>
	<% end %>
	
</div>

<div class="grid_4">
	<div id="jobdetails"><h2>Job Details</h2>
		
		<div class="detail_row"><%= "Value: $#{@job.value}"  %></div>
		<div class="detail_row"><%= "Location: #{@job.location}"  %></div>
		<div id="documents_section">
			<div id="section_header">Documents:</div>
			<% unless @job.documents.length == 0 %>
				<% @job.documents.each do |i| %>
					<div class="document_links"><%= link_to i.name, i.document.url %></div>
				<% end %>
			<% end %>
			<div id="add_doc_link"><%= link_to "Add a document", {:controller => "documents", :action => "new", :owner_type => "job", :id => @job.id} %></div>		
		</div>
	</div>
</div>

<fieldset id="job_history_box">
	<legend>Job history - <%= link_to "See full history", {:action => "history", :controller => "jobs"}%></legend>	
	
	<!--
	<% @log.each do |i| %>
		<div class="history_logging"><%= i.log_data %></div>
	<% end %>
	-->
</fieldset>

<% #Method calls and global variable modifiers of the page %>

<% $active_page = "job.show"%>



