<fieldset>
	<legend>Recent jobs</legend>	
	
	<% @recent_jobs.each do |i| %>
		<div class="job_headers"> 
			<%= link_to "#{i.job_number} - #{i.name}", job_path(i.job_number) %> 
		</div>
	
		<% unless i.subcontractors.first.nil? then i.subcontractors.each do |t| %>
			<div class="sub_names"> <%= image_tag get_image(1) %> <%= link_to t.name, subcontractor_path(t.id) %></div>
				
				<%= render :partial => "jobs/sub_checklist", :locals => {:t => t} %>
							
				<% unless t.suppliers.first.nil? then t.suppliers.each do |l|%>
					<% unless l.checklist_items.first.nil? then %>
						<div class="sup_names"> <%= image_tag get_image(1)%> <%= link_to l.name, supplier_path(l.id, i.job_number) %></div>
						<%= render :partial => "jobs/sup_checklist", :locals => {:l => l} %>
					<% end %>
					
					<% end %>
				<% end %>

				<% unless t.subtiersubcontractors.first.nil? then t.subtiersubcontractors.each do |l| %>
					
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>		
</fieldset>

<fieldset>
	<legend>Overdue items</legend>
	<% @overdue_items.each_with_index do |i, x| %>
		<div class="overdue_list_items"> <%= image_tag get_image(1) %> <%= "#{i.item_data} is #{@overdue_amounts[x]} days overdue"%></div>
	<% end %>
</fieldset>

<% #Page's method calls and global variable modifiers %>

<% $active_tab = 1 %>
<% $active_page = "index.index" %>
