	<div id="jobs">
		<h1>Recent jobs</h1>
	
	<% @recent_jobs.each do |i| %>
		<div class="grid_12">
		<h3><%= link_to "#{i.job_number} - #{i.name}", job_path(i.id) %></h3>
		<% unless i.subcontractors.first.nil? %>
			<% i.subcontractors.each do |j| %>
				<h3><%= link_to j.name, {:controller => "subcontractors", :action => "show", :id => j.id} %></h3>
				<%= render :partial => "sub_details", :locals => {:j => j, :job_id => i.id, :parent_id => 0, :show_subname => 0} %>
			<% end %>
		<% end %>
		</div>
	<% end %>
	</div>


<fieldset>
	<legend>Overdue items</legend>
	<% @overdue_items.each_with_index do |i, x| %>
		<div class="overdue_list_items"> <%= image_tag get_image(1) %> <%= "#{i.item_data} is #{@overdue_amounts[x]} days overdue"%></div>
	<% end %>
</fieldset>

<% #Page's method calls and global variable modifiers %>

<% refresh_states %>
<% $active_tab = 1 %>
<% $active_page = "index.index" %>
