<fieldset>
	<legend>Recent jobs</legend>	
	
	<% @recent_jobs.each do |i| %>
		<div class="jobs">
		<% set_states(i) %> <!-- Calls a helper method to set state attribute for jobs, subs and sups-->
		<div class="job_name_headers"><%= image_tag get_image(i.state) %><%= "#{i.job_number} - #{i.name}" %></div>
		<% unless i.subcontractors.first.nil? %>
			<% i.subcontractors.each do |j| %>
				<div class="subs">
					<div class="subs_headers"><%= image_tag get_image(j.state)%><%= i.subcontractors.first.name %></div>
					<%= render :partial => "sub_details", :locals => {:j => j, :job_id => i.id, :parent_id => 0} %>
				</div>
			<% end %>
		<% end %>
		</div>
	<% end %>		
</fieldset>

<fieldset>
	<legend>Overdue items</legend>
	<% @overdue_items.each_with_index do |i, x| %>
		<div class="overdue_list_items"> <%= image_tag get_image(1) %> <%= "#{i.item_data} is #{@overdue_amounts[x]} days overdue"%></div>
	<% end %>
</fieldset>

<% #Page's method calls and global variable modifiers %>

<% refresh_states %>
<% $active_tab = 1 %>
<% $active_page = "index.index" %>
