<h2>Welcome to TUVendor system!</h2>

<h3>Functions:</h3>

<ul>
	<li> <%= link_to "Jobs List", jobs_path %> </li>
	<li> <%= link_to "New Job", new_job_path %> </li>
	<li> <%= link_to "New Vendor", new_subcontractor_path %> </li>
	<li> <%= link_to "New List-item", new_list_item_path %> </li>
	<li> <%= link_to "To do list", list_items_path %> </li>
</ul>

<h3>Completed</h3>