<h2>Welcome to TUVendor systems!</h2>

<h3>Functions:</h3>

<ul>
	<li> <%= link_to "Joblist", job_path %> </li>
	<li> <%= link_to "New Job", new_job_path() %> </li>
	<li> <%= link_to "New Vendor", new_subcontractor_path %> </li>
	<li> <%= link_to "New List", new_job_path() %> </li>
	<li> <%= link_to "To do list", new_job_path() %> </li>
	<li> <%= link_to "New Job", new_job_path() %> </li>
</ul>

<h3>Completed</h3>