<% @items.each do |i| %>
	<% if i.cli_type == 1%>
		$('#<%= i.id %>cli img ').each( function() {
			$(this).fadeOut();
			$(this).attr('src', '/images/open.png');
			$(this).fadeIn();
		});
		
		$('#<%= i.id %>cli img').each( function() {
			$('#<%="#{i.id}input"%>').remove()
			$(this).after('<input type="checkbox" id="<%="#{i.id}input"%>" onclick="$.ajax(\'/mark_done/<%= i.id %>\')"/>');
			$('#<%= i.id %>cli span').html('<span><%= link_to "undo", {:controller => "controls", :action => "undo", :item_id => i.id, :state => i.state}, :remote => true %></span>');
		});
	<% end %>
<% end %>

$('#feedback').html("Payment marked received");

if ($('#job_history_box div').length > 3) {
	$('#job_history_box div').last().fadeOut("slow");
	
	setTimeout(function () {
		$('#job_history_box div').last().remove();
	}, 600);
	
	$('#job_history_box').prepend('<div id="history_logging"><%= @log.log_data %></div>');
} else {
	$('#job_history_box').prepend('<div id="history_logging"><%= @log.log_data %></div>');
}

setTimeout(function () {
	$('#feedback').fadeOut("slow");
}, 5000);