<% unless @vendor.checklist_items.first.nil? then%>
					  		
					  		<% if @overdue_items.length != 0 %>
								<div id="overdue">	
									<% @overdue_items.each do |i| %>
										<div class="list_items" id="<%= i.id %>cli"> <%= image_tag get_image(i.state) %> <input type="checkbox" /> <%= i.item_data %></div>
							  		<% end %>	
								</div>
					  		<% end %>
					  		
					  		<% if @open_items.length != 0 %>
						  		<div id="open">
						  			<% @open_items.each do |i| %>
						  				<div class="list_items" id="<%= i.id %>cli"> <%= image_tag get_image(i.state) %> <input type="checkbox" /> <%= i.item_data %></div>
							  		<% end %>
						  		</div>
					  		<% end %>
					  		
					  		<% if @waiting_items.length != 0 %>
						  		<div id="waiting">
							  		<% @waiting_items.each do |i| %>
						  				<div class="list_items" id="<%= i.id %>cli"> <%= image_tag get_image(i.state) %> <%= i.item_data %></div>
						  			<% end %>
						  		</div>
					  		<% end %>
					  		
					  		<% if @completed_items.length != 0 %>
						  		<div id="completed">
							  		<% @completed_items.each do |i| %>
						  				<div class="list_items" id="<%= i.id %>cli"> <%= image_tag get_image(i.state) %> <%= i.item_data %></div>
						  			<% end %>
					  			</div>
					  		<% end %>
					  		
						<% end %>					