<div class="grid_12" id="pagedescription"><h2>Edit Vendor</h2></div>

<div id="contentmiddle" class="grid_12">
	<h2>Vendor information</h2>
	
	<form id="vendor_edit" action="/vendors/<%= @partner.id %>" method="post">
		<div id="partner_details">
			<div class="input_rows"> <div class="labels">Vendor Name</div> <div class="inputs"> <%= text_field_tag("partner_name", @partner.name) %> </div></div>
		</div>
		
		<div class="sub_header">Contact Person details</div>
		
		<div id="cp_details">
			<div class="input_rows"> <div class="labels">Name </div> <div class="inputs"> <%= text_field_tag("cp_name", @cp.name) %> </div></div>
			<div class="input_rows"> <div class="labels">Title </div> <div class="inputs"> <%= text_field_tag("cp_title", @cp.title ) %> </div></div>
			<div class="input_rows"> <div class="labels">Phone number </div> <div class="inputs"> <%= text_field_tag("cp_phone_number", @cp.phone_number) %> </div></div>
			<div class="input_rows"> <div class="labels">E-mail </div> <div class="inputs"> <%= text_field_tag("cp_email", @cp.email) %> </div></div>
		</div>
		
		<div class="sub_header">Address details</div>
		
		<div id="addr_details">
			<div class="input_rows"> <div class="labels">Street address</div> <div class="inputs"> <%= text_field_tag("addrs_street", @addrs.street) %> </div></div>
			<div class="input_rows"> <div class="labels">ZIP </div> <div class="inputs"> <%= text_field_tag("addrs_zip_code", @addrs.zip_code) %> </div></div>
			<div class="input_rows"> <div class="labels">City </div> <div class="inputs"> <%= text_field_tag("addrs_city", @addrs.city) %> </div></div>
			<div class="input_rows"> <div class="labels">State</div> <div class="inputs"> <%= text_field_tag("addrs_state", @addrs.state) %> </div></div>
		</div>
		
		<input type="hidden" name="_method" value="put">
		
		<input type="hidden" name="job_id" value="<%= params[:job_id] %>">
		<input type="hidden" name="parent_id" value="<%= params[:parent_id] %>">
		<input type="hidden" name="partner_type" value="<%= params[:partner_type] %>">
		
		<div class="input_rows"><div class="labels">Action</div><div class="inputs"><input type="submit" value="Edit"/></div></div>
	</form>

</div>

<% "Method calls and global variable modifiers of the page" %>

<% if params[:parent_id].nil? %>
	<% $active_tab = 2 %>
<% else %>
	<% $active_tab = 1 %>
<% end %>

<% $active_page = "vendor.new"%>