<div class="grid_12" id="pagedescription"><h2><%= @vendor.name %></h2></div>

<div class="grid_9" id="contentmiddle">
	<h4>Jobs</h4>
	
	
	<% if @jobs.length != 0 then %>
		<ul>
		<% @jobs.each do |i| %>
				<li><%= link_to "#{i.job_number} - #{i.name}", job_path(i.id) %></li>
		<% end %>
		</ul>
	<% else %>	
		<h5>Not assigned to any job</h5>
	<% end %>	
	
</div>

<div id="sidebar" class="grid_3">
	<h2>Vendor Details <span><%= link_to "Edit", {:controller => "vendors", :action => "edit", :id => @vendor.id} %></span></h2>

	<ul>
		<li class="list_headers">Contact person:</li>
		<li>Name: <span><%= @contact_person.name %></span></li>
		<li>Phone: <span><%= @contact_person.phone_number %></span></li>
		<li>E-mail: <span><%= @contact_person.email %></span></li>
		<li class="list_headers">Company address:</li>
		<li>Street: <span><%= @address.street %></span></li>
		<li>City: <span><%= @address.city %></span></li>
		<li>Zip: <span><%= @address.zip_code %></span></span></li>
		<li>State: <span><%= @address.state %></span></li>
	</ul>

</div>

<% #Page's method calls and global variable modifiers %>

<% $active_tab = 2 %>
<% $active_page = "vendor.show" %>