<div class="grid_12" id="pagedescription"><h2><%= @vendor.name %></h2></div>

<div class="grid_8" id="contentmiddle">
	<h3>Jobs</h3>
	
	<% if @jobs.length != 0 then %>
		<% @jobs.each do |i| %>
			<div class="jobs">
				<div class="job_sidebar">
					<%= i.job_number%> <br />
					<%= i.name %>
				</div>
				<div class="job_item_list">
				<% get_roles(i, @vendor.id).each_with_index do |j, x| %>
						<div class="sub_headers"><%= j %></div>
						<div class="items_block">
							<%= render :partial => "jobs/sup_checklist", :locals => {:k => @vendor, :job_id => i.id, :parent_id => $parent_ids[x]} %>
						</div>
				<% end %>
				</div>
				<div class="break"></div>
			</div>
		<% end %>
	<% end %>	
	
</div>

<div id="sidebar" class="grid_3">
	<h2>Contact Details</h2>

	<ul>
		<li><%= link_to "Edit vendor", {:controller => "vendors", :action => "edit", :id => @vendor.id} %></li>
		<li>Contact Name: <span>George Smith</span></li>
		<li>Phone: <span>360-000-0000</span></li>
	</ul>

</div>



<% #Page's method calls and global variable modifiers %>

<% $active_tab = 3 %>
<% $active_page = "vendor.show" %>