<fieldset id="vendor_details">
	<legend>Vendor details</legend>
	
	
</fieldset>

<fieldset id="vendor_jobs_details">
	<legend><%= @vendor.name %> - Jobs</legend>
	
	<div class="controls" id="edit_job">
		<%= link_to "Edit vendor", {:controller => "vendors", :action => "edit", :id => @vendor.id} %>
	</div>
	
	<% if @jobs.length != 0 then %>
		<% @jobs.each do |i| %>
			<div class="jobs">
				<div class="job_sidebar">
					<%= i.job_number%> <br />
					<%= i.name %>
				</div>
				<div class="job_item_list">
				<% get_roles(i, @vendor.id).each_with_index do |j, x| %>
						<div class="sub_headers"><%= j %></div>
						<div class="items_block">
							<%= render :partial => "jobs/sup_checklist", :locals => {:k => @vendor, :job_id => i.id, :parent_id => $parent_ids[x]} %>
						</div>
				<% end %>
				</div>
				<div class="break"></div>
			</div>
		<% end %>
	<% end %>	
	
</fieldset>




<% #Page's method calls and global variable modifiers %>

<% $active_tab = 3 %>
<% $active_page = "vendor.show" %>