<fieldset>
	<legend>All tasks</legend>
	
	<h3>Overdue Items</h3>
	
	<div id="overdue">
		<% @overdue_items.each do |i| %>
			<div id="<%= i.id%>Listitem"> <%= image_tag get_image(i.state)%> <input id="<%= i.id%>ChkBox" type="checkbox" /> <%= i.item_data %> </div>
		<% end %>
	</div>

	<h3>Open Items</h3>

	<div id="open">
		<% @open_items.each do |i| %>
			<div id="<%= i.id%>Listitem"> <%= image_tag get_image(i.state)%> <input id="<%= i.id%>ChkBox" type="checkbox" onClick/> <%= i.item_data %> </div>
		<% end %>
	</div>

	<h3>Waiting Items</h3>

	<div id="waiting">
		<% @waiting_items.each do |i| %>
			<div id="<%= i.id%>Listitem"> <%= image_tag get_image(i.state)%> <input id="<%= i.id%>ChkBox" type="checkbox" /> <%= i.item_data %> </div>
		<% end %>
	</div>

	<h3>Closed Items</h3>
		
	<div id="completed">
		<% @completed_items.each do |i| %>
			<div id="<%= i.id%>Listitem"> <%= image_tag get_image(i.state)%> <input id="<%= i.id%>ChkBox" type="checkbox" /> <%= i.item_data %> </div>
		<% end %>
	</div>
	
</fieldset>





<% #Page's method calls and global variable modifiers %>

<% $active_tab = 4 %>
<% $active_page = "index.index" %>