<fieldset>
	<legend>All tasks</legend>
	
	<% if @overdue_items.length != 0 %>
		<div id="overdue">
			<div class="headers">Overdue</div>
			<% @overdue_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<input id="<%= i.id%>cli" type="checkbox" onclick="$.ajax('/mark_done/<%= i.id %>')"/> 
					<%= "#{i.item_data} - #{get_vendor_name(i)} - #{get_job_details(i)}" %>
				</div>
			<% end %>
		</div>
	<% end %>

	<% if @open_items.length != 0 %>
		<div id="open">
			<div class="headers">Open</div>
			<% @open_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<input id="<%= i.id%>cli" type="checkbox" onclick="$.ajax('/mark_done/<%= i.id %>')"/> 
					<%= "#{i.item_data} - #{get_vendor_name(i)} - #{get_job_details(i)}" %>
				</div>
			<% end %>
		</div>
	<% end %>

	<% if @waiting_items.length != 0 %>
		<div id="waiting">
			<div class="headers">Waiting</div>
			<% @waiting_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<%= "#{i.item_data} - #{get_vendor_name(i)} - #{get_job_details(i)}" %>
				</div>
			<% end %>
		</div>
	<% end %>
		
	<% if @completed_items.length != 0 %>
		<div id="completed">
			<div class="headers">Completed</div>
			<% @completed_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= "#{i.item_data} - #{get_vendor_name(i)} - #{get_job_details(i)}" %>
			<% end %>
		</div>
	<% end %>
</fieldset>





<% #Page's method calls and global variable modifiers %>

<% $active_tab = 4 %>
<% $active_page = "list_item.index" %>