<fieldset>
	<legend>All tasks</legend>
	
	<% if @overdue_items.length != 0 %>
		<div id="overdue">
			<div class="headers">Overdue</div>
			<% @overdue_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<input id="<%= i.id%>cli" type="checkbox" onclick="$.ajax('/mark_done/<%= i.id %>')"/> 
					<%= link_to "#{i.item_data} - #{get_vendorname(i.listable_id, i.listable_type)} - #{get_job_details(i.job_number)}", "lol" %>
					<%= link_to "Add a document", {:controller => "documents",:action => "new", :cli_id => i.id}, :class =>"add_document"%>
					<% unless i.document_file_name.nil? %>
						<%= link_to "Open the document", i.document.url %>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>

	<% if @open_items.length != 0 %>
		<div id="open">
			<div class="headers">Open</div>
			<% @open_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<input id="<%= i.id%>cli" type="checkbox" onclick="$.ajax('/mark_done/<%= i.id %>')"/> 
					<%= link_to "#{i.item_data} - #{get_vendorname(i.listable_id, i.listable_type)} - #{get_job_details(i.job_number)}", "lol" %>
					<%= link_to "Add a document", {:controller => "documents",:action => "new", :cli_id => i.id}, :class =>"add_document"%>
					<% unless i.document_file_name.nil? %>
						<%= link_to "Open the document", i.document.url %>
					<% end %>  
				</div>
			<% end %>
		</div>
	<% end %>

	<% if @waiting_items.length != 0 %>
		<div id="waiting">
			<div class="headers">Waiting</div>
			<% @waiting_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<%= link_to "#{i.item_data} - #{get_vendorname(i.listable_id, i.listable_type)} - #{get_job_details(i.job_number)}", "lol" %>
					<%= link_to "Add a document", {:controller => "documents",:action => "new", :cli_id => i.id}, :class =>"add_document"%>
					<% unless i.document_file_name.nil? %>
						<%= link_to "Open the document", i.document.url %>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
		
	<% if @completed_items.length != 0 %>
		<div id="completed">
			<div class="headers">Completed</div>
			<% @completed_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<%= link_to "#{i.item_data} - #{get_vendorname(i.listable_id, i.listable_type)} - #{get_job_details(i.job_number)}", "lol" %>
					<%= link_to "Add a document", {:controller => "documents",:action => "new", :cli_id => i.id}, :class =>"add_document"%>
					<% unless i.document_file_name.nil? %>
						<%= link_to "Open the document", i.document.url %>
					<% end %>
			<% end %>
		</div>
	<% end %>
</fieldset>





<% #Page's method calls and global variable modifiers %>

<% $active_tab = 4 %>
<% $active_page = "list_item.index" %>