<div class="grid_12" id="pagedescription"><h2>All tasks</h2></div>
	<div id="contentmiddle" class="grid_12">
	<% if @overdue_items.length != 0 %>
		<div id="overdue">
			<h2>Overdue</h2>
			<% @overdue_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<input id="<%= i.id%>cli" type="checkbox" onclick="$.ajax('/mark_done/<%= i.id %>')"/> 
					<%= "#{i.item_data} - #{get_vendor_name(i)} - #{get_job_details(i)}" %>
				</div>
			<% end %>
		</div>
	<% end %>


	<% if @open_items.length != 0 %>
		<div id="open">
			<h2>Open</h2>
			<% @open_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<input id="<%= i.id%>cli" type="checkbox" onclick="$.ajax('/mark_done/<%= i.id %>')"/> 
					<%= "#{i.item_data} - #{get_vendor_name(i)} - #{get_job_details(i)}" %>
				</div>
			<% end %>
		</div>
	<% end %>

	

	<% if @waiting_items.length != 0 %>
		<div id="waiting">
			<h2>Waiting</h2>
			<% @waiting_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= image_tag get_image(i.state)%> 
					<%= "#{i.item_data} - #{get_vendor_name(i)} - #{get_job_details(i)}" %>
				</div>
			<% end %>
		</div>
	<% end %>

	<% if @completed_items.length != 0 %>
		<div id="completed">
			<h2>Completed</h2>
			<% @completed_items.each do |i| %>
				<div class="list_items" id="<%= i.id%>cli"> 
					<%= "#{i.item_data} - #{get_vendor_name(i)} - #{get_job_details(i)}" %>
				</div>
			<% end %>
		</div>
	<% end %>
	
	</div>





<% #Page's method calls and global variable modifiers %>

<% $active_tab = 4 %>
<% $active_page = "list_item.index" %>