<div class="grid_12" id="pagedescription"><h2>New Item</h2></div>

<div class="grid_12" id="contentmiddle">
	<h4>Add new item for <%= @name %></h4>
	
	<form action="/list_items" method="post">		
		<div class="input_rows"><div class="labels">Item</div><div class="inputs"><input type="text" name="item_data"></div></div>
		<input type="hidden" name="job_id" value="<%= @job_id %>" />
		<input type="hidden" name="partner_id" value="<%= @partner_id %>" />
		<input type="hidden" name="partner_type" value="<%= @partner_type %>" />
		<input type="hidden" name="parent_id" value="<%= @parent_id %>" />
		<input type="radio" name="repeatable_type" value="1" /> Initial <br />
		<input type="radio" checked="true" name="repeatable_type" value="2" /> Repeats upon payment <br />
		<input type="radio" name="repeatable_type" value="3" /> Single/Final item <br />
		<div class="input_rows"><input type="submit" value="Add item" /></div>
	</form>
	
	
</div>

<% #Page's method calls and global variable modifiers %>

<% $active_page = "list_item.new" %>