<!--Page description & heading-->
<div class="grid_12" id="pagedescription">
	<h2><%= link_to "#{@job.job_number} - #{@job.name}", job_path(@job.id) %></h2>
	<h5><%= @supplier.name %> (supplier to <%= @subcontractor.name %>) </h5>			
</div>

<div id="contentmiddle" class="grid_9">	

<!--control buttons-->	
	<div id="contentcontrol">
		
		<div class="grid_2"><h4>All Items</h4></div>
		
		<div class="controlbuttons">
			<ul>
				<li class="controls" id="receive_payments">
					<%= link_to "Add item", {:controller => "list_items", :action => "new", :partner_id => @subcontractor.id, :parent_id => @parent_id, :job_id => @job.id, :partner_type => 1, :name => @subcontractor.name}%>
				</li>
			</ul>
		</div>
	</div>
	
	 <%= render :partial => "jobs/sup_checklist", :locals => {:k => @supplier, :job_id => @job_id, :parent_id => @parent_id, :status => @asg.status} %>
	
</div>

<div id="sidebar" class="grid_3">
	<h2>Vendor Details <span><%= link_to "Edit", {:controller => "vendors", :action => "edit", :id => @supplier.id} %></span></h2>
	
	<ul>
		<li>Contact Name: <span><%= @contact_person.name %></span></li>
		<li>Phone: <span><%= @contact_person.phone_number %></span></li>
	</ul>
	
	<div id="documents_section">
		<h2>Supplier Docs:</h2>
		<% unless @asg.nil? || @asg.documents.length == 0 %>
			<% @asg.documents.each do |i| %>
				<div class="document_links"><%= link_to i.name, i.document.url %></div>
			<% end %>
		<% end %>
		<div id="add_doc_link"><img src="/images/plus.png" height="16px" width="16px"/> <%= link_to "Add a document", {:controller => "documents", :action => "new", :owner_type => "asg", :owner_id => @asg.id} %></div>		
	</div>
</div>
  	
<div class="grid_12" id="contentbottom">
	<div id="recent_history">
	<legend>Suppliers History - <%= link_to "See full history", {:controller => "histories", :action => "show", :job_id => @job.id, :parent_id => @parent_id, :partner_id => @supplier.id, :partner_type => 2}%></legend>
		<% unless @log.nil? then @log.each do |i| %>
				<div class="history_logging"><%= i.log_data %></div>
			<% end %>
		<% end %>
	</div>
</div>

<% #Page's method calls and global variable modifiers %>

<% $active_page = "supplier.show" %>

