<fieldset id="Vendor details">
	<legend> <%= @supplier.name %> </legend>
	
</fieldset>



<h2>Job: <%= @job.job_number %> - Supplier: <%= @supplier.name %> - Items:</h2>


<h3>Overdue items</h3>

<ul class="overdue_items">
	<% @overdue_items.each do |i| %>
		<li><input type=checkbox /><%= i.item_data %> <%= link_to "Touch", "/touch/#{i.id}" %></li>
	<% end %>
</ul>

<h3>Open Items</h3>

<ul class="open_items">
	<% @open_items.each do |i| %>
		<li><input type=checkbox /><%= i.item_data %><%= link_to "Touch", "/touch/#{i.id}" %></li>
	<% end %>
</ul>

<h3>Waiting Items</h3>

<ul class="waiting_items">
	<% @waiting_items.each do |i| %>
		<li><input type=checkbox /><%= i.item_data %><%= link_to "Touch", "/touch/#{i.id}" %></li>
	<% end %>
</ul>

<h3>Closed Items</h3>
<ul class="closed_items">
	<% @completed_items.each do |i| %>
		<li><input type=checkbox /><%= i.item_data %><%= link_to "Touch", "/touch/#{i.id}" %></li>
	<% end %>
</ul>

<% #Page's method calls and global variable modifiers %>

<% $active_page = "supplier.show" %>

