<!--Page description & heading-->
<div class="grid_12" id="pagedescription">
	<h2><%= link_to "#{@job.job_number} - #{@job.name}", job_path(@job.id) %></h2>
	<h5><%= @supplier.name %> (supplier to <%= @subcontractor.name %>) </h5>			
</div>

<div id="contentmiddle" class="grid_9">	

<!--control buttons-->	
	<div id="contentcontrol">
		
		<div class="grid_2"><h4>All Items</h4></div>
		
		<div class="controlbuttons">
			<ul>
				<li class="controls" id="receive_payments">
					<%= link_to "Add item", {:controller => "list_items", :action => "new", :partner_id => @supplier.id, :parent_id => @subcontractor.id, :job_id => @job.id, :partner_type => 2, :name => @supplier.name, :payment_id => @payment.id}%>
				</li>
			</ul>
		</div>
	</div>
	
	 <%= render :partial => "jobs/sup_checklist", :locals => {:k => @supplier, :job_id => @job_id, :parent_id => @parent_id, :status => @asg.status, :payment_id => @payment.id} %>
	
</div>

<div id="sidebar" class="grid_3">
	<h2>Vendor Details <span><%= link_to "Edit", {:controller => "vendors", :action => "edit", :id => @supplier.id, :parent_id => @parent_id, :job_id  => @job.id, :partner_type => 2} %></span></h2>
	
	<ul>
		<li class="list_headers">Contact person:</li>
		<li>Name: <span><%= @contact_person.name %></span></li>
		<li>Phone: <span><%= @contact_person.phone_number %></span></li>
		<li>E-mail: <span><%= @contact_person.email %></span></li>
		<li class="list_headers">Company address:</li>
		<li>Street: <span><%= @address.street %></span></li>
		<li>City: <span><%= @address.city %></span></li>
		<li>Zip: <span><%= @address.zip_code %></span></span></li>
		<li>State: <span><%= @address.state %></span></li>
	</ul>
	
	<div id="documents_section">
		<h2>Supplier Docs:</h2>
		<% unless @documents.length == 0 %>
			<% @documents.each do |i| %>
				<div class="document_links" id="<%= i.id %>doclink"><img src="/images/pdf.png" />  <%= link_to i.name, i.document.url %> <span id="delete_document_link" onclick="delete_document(<%= i.id %>)">delete</span></div>
			<% end %>
		<% end %>
		<div id="add_doc_link"><img src="/images/plus.png" height="16px" width="16px"/> <%= link_to "Add a document", {:controller => "documents", :action => "new", :parent_id => @parent_id, :partner_type => 2, :id => @supplier.id, :payment_id => @payment.id} %></div>		
	</div>
</div>
  	
<div class="grid_12" id="contentbottom">
	<div id="recent_history">
	<legend>Suppliers History - <%= link_to "See full history", {:controller => "histories", :action => "show", :job_id => @job.id, :parent_id => @parent_id, :partner_id => @supplier.id, :partner_type => 2}%></legend>
		<% unless @log.nil? then @log.each do |i| %>
				<div class="history_logging"><%= i.log_data %></div>
			<% end %>
		<% end %>
	</div>
</div>

<script>
	function delete_document(id) {
		if (!confirm('Are you sure you want delete this document?')) {
			return;
		}
		$.ajax({
			url: '/documents/delete/'+id,
			method: 'post',
			cache: false,
			success: function() {
				$('#'+id+'doclink').fadeOut();
			}
		});
	}
</script>

<% #Page's method calls and global variable modifiers %>

<% $active_page = "supplier.show" %>

