<fieldset id="job_details_box">
	<legend>Job details</legend>
	
	<div class="job_detail_list_item"><%= "Job number: #{@job.job_number}" %></div>
	<div class="job_detail_list_item"><%= "Job name: #{@job.name}" %></div>
</fieldset>

<fieldset id="vendor_details_box">
	<legend>Vendor details</legend>
	
	<div id="contact_details">
		<div class="job_detail_list_item"><%= "Contact name: #{@contact_person.name}" %></div>
		<div class="job_detail_list_item"><%= "Phone: #{@contact_person.phone_number}" %></div>
		<div class="job_detail_list_item"><%= "E-mail: #{@contact_person.email}" %></div>
	</div>
	
</fieldset>


<fieldset id="subs_details" class="">
	<legend> <%= @supplier.name %> - supplier to <%= @subcontractor.name %> </legend>
  	
  	<div id="assign_item">
		<%= link_to "Add item", {:controller => "list_items", :action => "new", :id => @subcontractor.id, :job_number => @job.job_number, :type => "Supplier"}%>
	</div>
  		
	<% unless @supplier.checklist_items.first.nil? then%>
  		<div class="headers">Checklist:</div>
  		
  		<% if @overdue_items.length != 0 %>
			<div id="overdue">	
				<% @overdue_items.each do |i| %>
					<div class="list_items" id="<%= i.id %>cli"> <%= image_tag get_image(i.state) %> <input type="checkbox" /> <%= i.item_data %></div>
		  		<% end %>	
			</div>
  		<% end %>
  		
  		<% if @open_items.length != 0 %>
	  		<div id="open">
	  			<% @open_items.each do |i| %>
	  				<div class="list_items" id="<%= i.id %>cli"> <%= image_tag get_image(i.state) %> <input type="checkbox" /> <%= i.item_data %></div>
		  		<% end %>
	  		</div>
  		<% end %>
  		
  		<% if @waiting_items.length != 0 %>
	  		<div id="waiting">
		  		<% @waiting_items.each do |i| %>
	  				<div class="list_items" id="<%= i.id %>cli"> <%= image_tag get_image(i.state) %> <%= i.item_data %></div>
	  			<% end %>
	  		</div>
  		<% end %>
  		
  		<% if @completed_items.length != 0 %>
	  		<div id="completed">
		  		<% @completed_items.each do |i| %>
	  				<div class="list_items" id="<%= i.id %>cli"> <%= image_tag get_image(i.state) %> <%= i.item_data %></div>
	  			<% end %>
  			</div>
  		<% end %>
  		
	<% end %>
</fieldset>

<fieldset id="subs_history">
	<legend>Subs History - <%= link_to "See full history", "somewhere"%></legend>
	
		
</fieldset>

<% #Page's method calls and global variable modifiers %>

<% $active_page = "supplier.show" %>

