<fieldset id="job_details_box">
	<legend>Job details</legend>
	
	<div class="job_detail_list_item"><%= "Job number: #{@job.job_number}" %></div>
	<div class="job_detail_list_item"><%= "Job name: #{@job.name}" %></div>
</fieldset>

<fieldset id="vendor_details_box">
	<legend>Vendor details</legend>
	
	<div id="contact_details">
		<div class="job_detail_list_item"><%= "Contact name: #{@contact_person.name}" %></div>
		<div class="job_detail_list_item"><%= "Phone: #{@contact_person.phone_number}" %></div>
		<div class="job_detail_list_item"><%= "E-mail: #{@contact_person.email}" %></div>
	</div>
	
</fieldset>


<fieldset id="subs_details" class="">
	<legend><%= image_tag get_image_by_job_and_sup(@job.job_number, @supplier.id)%> <%= @supplier.name %> - supplier to <%= @subcontractor.name %> </legend>
  		
  		<h3 class="subheaders">Checklist:</h3>
  		
  		<% unless @overdue_items.length == 0 then %>
  			<div class="list_blocks">
 	 			<% @overdue_items.each do |i|  %>
					<div class="list_items"><%= image_tag get_image(i.state)%> <%= i.item_data %> <%= render :partial => "controls", :locals => {:id => i} %></div>
				<% end %>
			</div>
		<% end %>
		
		<% unless @open_items.length == 0 then %>
  			<div class="list_blocks">
 	 			<% @open_items.each do |i|  %>
					<div class="list_items"><%= image_tag get_image(i.state)%> <%= i.item_data %> <%= render :partial => "controls", :locals => {:id => i} %></div>
				<% end %>
			</div>
		<% end %>
			
		<% unless @waiting_items.length == 0 then %>
  			<div class="list_blocks">
 	 			<% @waiting_items.each do |i|  %>
					<div class="list_items"><%= image_tag get_image(i.state)%> <%= i.item_data %> <%= render :partial => "controls", :locals => {:id => i} %></div>
				<% end %>
			</div>
		<% end %>
			
		<% unless @completed_items.length == 0 then %>
  			<div class="list_blocks">
 	 			<% @completed_items.each do |i|  %>
					<div class="list_items"><%= image_tag get_image(i.state)%> <%= i.item_data %> <%= render :partial => "controls", :locals => {:id => i} %></div>
				<% end %>
			</div>
		<% end %>

</fieldset>

<fieldset id="subs_history">
	<legend>Subs History - <%= link_to "See full history", "somewhere"%></legend>
	
	
</fieldset>

<% #Page's method calls and global variable modifiers %>

<% $active_page = "supplier.show" %>

