<!DOCTYPE html>
<html>
<head>
  <title> <%= title %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	 	<div id="page">
	 	
		<div id="header" class="roundTop">
			<div id="logo">
				<img src="/images/tulogo.png" alt="Tapani Underground Logo" width="100" height="100">
			</div>
		</div>
	
		<div id="nav">
			<ul>
				<li>
					<a class="active" href='http://localhost'>Home</a>
				</li>				
				<li>
					<a href='http://localhost'>All Jobs</a>
				</li>
				<li>
					<a href='http://localhost/partners'>All Vendors</a>
				</li>
				<li>
					<a href='http://localhost/todo'>To Do List</a>
				</li>
			</ul>
		</nav>
	
		<div id="contents">
			<%= yield %>		
		</div>

		<div id="footer" class="roundBottom">
			 <h3 id="footerText">Submarine - &copy; Silvertreksystems LLC</h3>
		</footer>
	</div>
</body>
</html>
