<!DOCTYPE html>
<html>
<head>
  <title> <%= title %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	 	<div id="page">
	 	
		<div id="header">
			<div id="logo">
				<img src="/images/tulogo.png" alt="Tapani Underground Logo" width="100" height="100">
			</div>
			<h1>Submarine</h1>
			<div id="headerbuttons">
				<ul>				
					<li>
						<a class="button" href='http://localhost/job/new'><img src="/images/plus.png" height="13" width="13">  New Job</a>
					</li>
					<li>
						<a class="button" href='http://localhost/subcontractor/new'><img src="/images/plus.png" height="13" width="13">  New Vendor</a>
					</li>
					<li>
						<a class="button" href='http://localhost/list_item/new'><img src="/images/plus.png" height="13" width="13">  New List Item</a>
					</li>
				</ul>
			</div>
		</div>
	
		<div id="nav">

			<ul>
				<li>
					<a class="active" href='http://localhost'>Home</a>
				</li>				
				<li>
					<a href='http://localhost'>Jobs</a>
				</li>
				<li>
					<a href='http://localhost/partners'>Vendors</a>
				</li>
				<li>
					<a href='http://localhost/todo'>To Do List</a>
				</li>


			</ul>
		</nav>

<!-- Tims buttons
			<input type="button" value="Index" class="navInputs olds" onClick="window.location.href='http://localhost'">
			<input type="button" value="Jobs" class="navInputs olds" onClick="window.location.href='http://localhost/jobs'">
			<input type="button" value="Vendors" class="navInputs olds" onClick="window.location.href='http://localhost/subcontractors'">
			<input type="button" value="To Do" class="navInputs olds" onClick="window.location.href='http://localhost/list_items'">
			<input type="button" value="New Job" class="navInputs news" onClick="window.location.href='http://localhost/jobs/new'">
			<input type="button" value="New Vendor" class="navInputs news" onClick="window.location.href='http://localhost/subcontractors/new'">
			<input type="button" value="New List Item" class="navInputs news" onClick="window.location.href='http://localhost/list_items/new'">
-->
		</div>
		
		<div id=allcontents>
			<div id="sidebar">
				<p>Just a holder</p>
			</div>
		
			<div id="contents">
				<%= yield %>		
			</div>
		</div>

		<div id="footer">
			 <h3 id="footerText"><img src="/images/submarine.png">  &copy; Silvertrek Systems</h3>
		</footer>

</body>
</html>
