<!DOCTYPE html>
<html>
<head>
  <title> <%= title %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	 	<div id="page">
	 	
		<div id="header" class="roundTop">
			<h1>Tapani Underground</h1>
		</div>
	
		<div id="nav">
			<ul>
				<li>
					<a class="active" href='http://localhost'>Jobs</a>
				</li>
				<li>
					<a href='http://localhost/partners'>Vendors</a>
				</li>
			</ul>
		</nav>
	
		<div id="contents">
			<%= yield %>		
		</div>

		<div id="footer" class="roundBottom">
			 <h3 id="footerText">Submarine - &copy; Silvertreksystems LLC</h3>
		</footer>
	</div>
</body>
</html>
