<!DOCTYPE html>
<html>
<head>
  <title> <%= title %> </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	 	<div id="page">
	 	
		<div id="header" class="roundTop">
			<h1>Tapani Underground</h1>
		</div>
	
		<div id="nav">
			<input type="button" value="Jobs" class="navInputs olds" onClick="window.location.href='http://localhost'">
			<input type="button" value="Vendors" class="navInputs olds" onClick="window.location.href='http://localhost/subcontractor'">
			<input type="button" value="New Job" class="navInputs news" onClick="window.location.href='http://localhost/job/new'">
			<input type="button" value="New Vendor" class="navInputs news" onClick="window.location.href='http://localhost/subcontractor/new'">
			<input type="button" value="New List Item" class="navInputs news" onClick="window.location.href='http://localhost/listitem/new'">
		</div>
	
		<div id="contents">
			<%= yield %>		
		</div>

		<div id="footer" class="roundBottom">
			 <h3 id="footerText">Submarine - Copyright Silvertreksystems LLC</h3>
		</div>
	</div>
</body>
</html>
