<!DOCTYPE html>
<html>
<head>
  <title> <%= title %> </title>
  	<link rel="stylesheet" href="/stylesheets/reset.css" />
	<link rel="stylesheet" href="/stylesheets/text.css" />
	<link rel="stylesheet" href="/stylesheets/960.css" />
 	<link rel="stylesheet" href="/stylesheets/style.css" />
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
</head>
<body>
		<div id="header" class="container_12">
			<div class="grid_2">
				<img src="/images/submarine.png" alt="Submarine Logo">
			</div>
			
			<div class="grid_8">
				<h1>Submarine</h1>
			</div>
			
			<div id="headerbuttons" class="grid_2">
				<ul>				
					<li>
						<a class="button" href='/jobs/new'><img src="/images/plus.png" height="13" width="13"> New Job</a>
					</li>
					<li>
						<a class="button" href='/vendors/new'><img src="/images/plus.png" height="13" width="13"> New Vendor</a>
					</li>
				</ul>
			</div>
		</div>
	
		<div id="nav" class="container_12">
			<div class="grid_10">
				<ul>			
					<li>
						<%= link_to "Jobs", jobs_path, :id => am_i_active_tab(1) %>
					</li>
					<li>
						<%= link_to "Vendors", vendors_path(), :id => am_i_active_tab(2) %>
					</li>
					<li>
						<%= link_to "To Do List", list_items_path, :id => am_i_active_tab(3) %>
					</li>
				</ul>
			</div>
		</div>
			
		<div id="contents" class="container_12">
			<%= yield %>		
		</div>

		<footer class="container_12" id="footer">
				<div class="grid_8"></div>
				<div class="grid_4" id="footertext"> <span>irresistibly implemented by <img src="/images/silvertrek.png" /></span> Silvertrek Systems</div>
		</footer>
</body>
</html>
